/**
* StageWrite Plot Styles
* Styles for plot listings and item displays
*/

@import url('_variables.css');

/* -------------------- Plot List Styles --------------------- */
.plot-actions {
  align-items: center;
  display: flex;
  gap: var(--spacing-xs);
}

.plot-details {
  color: var(--color-text-light);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-sm);
  gap: var(--spacing-xl);
  
  span {
    align-items: center;
    display: inline-flex;
    
    &::before {
      content: '•';
      display: inline-block;
      margin-right: var(--spacing-xl);
    }
    
    &:first-child::before {
      display: none;
    }
  }
}

.plot-info {
  flex-grow: 1;
  padding-right: var(--spacing-md);
}

.plot-item {
  align-items: center;
  background-color: var(--color-card-hover);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  color: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-md);
  text-decoration: none;
  transition: all var(--transition-fast);
}

.plot-link {
  color: inherit;
  display: block;
  padding: var(--spacing-xl);
  text-decoration: none;
}

.plot-name {
  color: var(--color-primary-dark);
  font-size: var(--font-size-md);
  font-weight: 600;
  margin-bottom: var(--spacing-xs);
}

.plots-list,
.saved-plots-list,
.existing-plots-list {
  list-style: none;
  margin: 0;
  height: 400px;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0;
  padding-right: var(--spacing-md);
}

.loading-message {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

/* -------------------- Save & Plot Specific Sections --------------------- */
.existing-plots-section,
.saved-plots-list {
  box-shadow: inset var(--shadow-md);
}

.save-section:not(.existing-plots-section) {
  box-shadow: var(--shadow-md);
}

.save-section,
.saved-plots-list {
  background-color: var(--color-background-light);
  border-radius: var(--border-radius-lg);
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-md);
  
  h3,
  label {
    color: var(--color-primary);
    font-size: var(--font-size-lg);
    margin: 0 0 var(--spacing-sm);
  }
}

.load-plot-btn {
  width: 80px;
}

.overwrite-btn {
  width: 120px;
}

#save-new-button {
  width: 120px;
}

#save-new-button,
.overwrite-btn,
.load-plot-btn {
  height: 38px;
  min-height: 38px;
}


/* -------------------- Venue Related --------------------- */
.select-with-button {
  display: flex;
  gap: var(--spacing-xs);

  select {
    flex: 1;
  }
}

optgroup {
  color: var(--color-text);
  font-weight: bold;

  option {
    font-weight: normal;
    padding-left: var(--spacing-sm);
  }
}
