@import url('_variables.css');

/**
 * StageWrite Theme Styles
 * Light and dark theme variables and toggle styles
 */



/* -------------------------- Dark theme specific overrides ---------------------------- */

[data-theme="dark"] {
  /*------ First Time Popup ------ */
  #first-time-popup h2 {
    color: var(--color-text);
  }

  #first-time-popup li i {
    color: var(--color-primary-lightest);
  }

  /* ----- Header Actions ----- */
  .account-toggle:hover,
  .theme-toggle:hover {
    box-shadow: var(--shadow-md) !important;
  }
  
  .account-toggle:active,
  .theme-toggle:active {
    box-shadow: inset var(--shadow-sm) !important;
  }

  .account-greeting {
    color: var(--color-text-light);
  }
    
  .theme-toggle i {
    transform: rotate(180deg);
  }

  .theme-toggle i:before {
    content: "\f185"; /* fa-sun icon */
  }
  
  /* ----- General ----- */
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  h2,
  label {
    color: var(--color-text);
  }
  
  button:active:not(.favorite-button:active),
  .form-actions button:active {
    box-shadow: inset var(--button-inset-lg);
  }
  
  input,
  select,
  textarea,
  .custom-dropdown {
    border-color: var(--color-input-border);
    color: var(--color-text);
  }
  
  /* ----- Modals ----- */
  .modal-content h3,
  .profile-container h3{
    color: var(--color-text);
  }
  
  .modal-content .plot-name {
    color: var(--color-grey-5);
  }
  
  .dropdown-menu {
    background-color: var(--color-background);
  }
  
  #login-modal {
    h2 {
      color: var(--color-text); 
    }

    a {
      color: var(--color-primary-lightest);
    }
  }

  .warning-message {
    background-color: rgba(220, 53, 70, 0.02);

    p {
      color: var(--color-danger-light)
    }
  }

  /* ----- Tables ----- */
  .custom-dropdown-optgroup {
    background-color: var(--color-background-dark);
  }
  
  .custom-dropdown-menu {
    background-color: var(--color-background);
  }
  
  table tr:nth-child(odd) {
    background-color: var(--color-background);

    &:hover {
      background-color: var(--color-table-hover);
    }
  }
  
  table tr:nth-child(even) {
    background-color: var(--color-background-light);

    &:hover {
      background-color: var(--color-table-hover);
    }
  }

  #stage,
  .custom-dropdown-option:hover,
  .custom-dropdown-option:focus {
    background-color: var(--color-background-light);
  }

  /* ----- Scrollbars ----- */
  #elements-list {
    scrollbar-color: var(--color-grey-4) var(--color-background);
  }
  
  #elements-list::-webkit-scrollbar-track {
    background: var(--color-background);
  }
  
  #elements-list::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-4);
    border-color: var(--color-background);
  }
  
  #elements-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-grey-3);
  }
  
  .custom-dropdown-menu,
  .plots-list,
  .existing-plots-list,
  .saved-plots-list {
    scrollbar-color: var(--color-grey-4) var(--color-background);
  }
  
  .custom-dropdown-menu::-webkit-scrollbar-track,
  .plots-list::-webkit-scrollbar-track,
  .existing-plots-list::-webkit-scrollbar-track,
  .saved-plots-list::-webkit-scrollbar-track {
    background: var(--color-background);
  }
  
  .custom-dropdown-menu::-webkit-scrollbar-thumb,
  .plots-list::-webkit-scrollbar-thumb,
  .existing-plots-list::-webkit-scrollbar-thumb,
  .saved-plots-list::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-4);
    border-color: var(--color-background);
    
    &:hover {
      background-color: var(--color-grey-3);
    }
  }
  
  /* ----- Notifications ----- */
  .notification {
    background: linear-gradient(to right, 
    var(--color-secondary) 0px,      /* Colored border starts */
    var(--color-secondary) 10px,     /* Colored border ends */
    var(--color-grey-4) 10px,                    /* Start of white separation */
    var(--color-grey-4) 12px,                    /* End of white separation */
    var(--color-primary-dark) 12px,  /* Main background starts */
    var(--color-primary-dark) 100%   /* Main background ends */
    );
    
    &.success {
      background: linear-gradient(to right, 
      var(--color-success-light) 0px, 
      var(--color-success-light) 10px, 
      var(--color-grey-4) 10px, 
      var(--color-grey-4) 12px, 
      var(--color-primary-dark) 12px, 
      var(--color-primary-dark) 100%
      );
    }
    
    &.error {
      background: linear-gradient(to right, 
      var(--color-error) 0px, 
      var(--color-error) 10px, 
      var(--color-grey-4) 10px, 
      var(--color-grey-4) 12px, 
      var(--color-primary-dark) 12px, 
      var(--color-primary-dark) 100%
      );
    }
    
    &.info {
      background: linear-gradient(to right, 
      var(--color-secondary) 0px, 
      var(--color-secondary) 10px, 
      var(--color-grey-4) 10px, 
      var(--color-grey-4) 12px, 
      var(--color-primary-dark) 12px, 
      var(--color-primary-dark) 100%
      );
    }
    
    &.warning {
      background: linear-gradient(to right, 
      var(--color-danger) 0px, 
      var(--color-danger) 10px, 
      var(--color-grey-4) 10px, 
      var(--color-grey-4) 12px, 
      var(--color-primary-dark) 12px, 
      var(--color-primary-dark) 100%
      );
    }
  }

  /* ----- Containers / Sections ----- */

  #stage-plot-container,
  #stage-info-container {
    h2 {
      background-color: var(--color-background);
      color: var(--color-text);
    }
  }

  .new-plot-section,
  .existing-plots-section h2 {
    background-color: var(--color-background);
  }

  #plot-title {
    color: var(--color-text);
  }
  
  .category-section h3 {
    color: var(--color-grey-5);
  }

  .input-list-section,
  .element-info {
    border: 1px solid var(--color-border);
  }

  #elements-list {
    background-color: var(--color-background-dark);
    border-color: var(--color-input-border);
    color: var(--color-text);
  }

  .accordion-header {
    background-color: var(--color-background-light);

    &:hover {
      background-color: var(--color-table-hover);
    }
    
    &.active {
      background-color: var(--color-background);

      .accordion-icon {
        color: var(--color-text-light);
      }
    }
  }
  
  .search-container {
    background-color: var(--color-background-light);
  }

  .profile-container,
  #stage-plot-container,
  .input-list-section,
  .element-info {
    background-color: var(--color-background-dark);
  }
  
  .input-number {
    color: var(--color-grey-4);
  }

  .element-info-item {
    background-color: var(--color-background-light);
    border-color: var(--color-border);
  }

  .element-info-name {
    color: var(--color-text);
  }

  .element-info-label,
  .element-info-notes {
    color: var(--color-grey-4);
  }

  .no-elements-message {
    color: var(--color-grey-3);
  }

  .existing-plots-section {
    background-color: var(--color-background-dark);
  }

  /* ----- Plot Elements ----- */
  .draggable-element img,
  .placed-element img {
    filter: invert() brightness(.75);
  }

  /* ----- Element List ----- */
  .custom-dropdown-menu .custom-dropdown-option.select-separator.disabled {
    background-color: var(--color-grey-3);
    color: var(--color-grey-3);
  }

  .custom-dropdown-menu .custom-dropdown-option.select-separator.disabled:hover {
    background-color: var(--color-grey-3);
  }
  
  .element-info-item-label {
    color: var(--color-primary-lightest);
  }

  /* ----- Venue Information Panel ----- */
  .venue-info-panel {
    background-color: var(--color-background-light);
    border-color: var(--color-border);
  }
  
  .venue-info-panel h3 {
    color: var(--color-grey-5);
    border-bottom-color: var(--color-border);
  }
  
  .venue-details p {
    color: var(--color-text);
  }
  
  .venue-details strong {
    color: var(--color-grey-4);
  }
  .no-venue-selected {
      color: var(--color-grey-3);
  }
  
  /* ----- Profile ----- */
  .detail-label {
    color: var(--color-primary-lightest);
  }
}
